################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SHAPE
/.vs/SHAPE/FileContentIndex
/.vs/SHAPE/FileContentIndex/6ccc19e9-fe7b-44e9-9127-295a5134c927.vsidx
/.vs/SHAPE/v17
/.vs/SHAPE/v17/.suo
/.vs/SHAPE/v17/DocumentLayout.json
/ConaApi/bin/Debug/net9.0
*.user
/ConaApi/obj/Debug/net9.0/ref
/ConaApi/obj/Debug/net9.0/refint
/ConaApi/obj/Debug/net9.0/staticwebassets
/ConaApi/obj/Debug/net9.0/apphost.exe
/ConaApi/obj/Debug/net9.0/ConaApi.AssemblyInfo.cs
/ConaApi/obj/Debug/net9.0/ConaApi.AssemblyInfoInputs.cache
/ConaApi/obj/Debug/net9.0/ConaApi.csproj.CoreCompileInputs.cache
/ConaApi/obj/Debug/net9.0/ConaApi.csproj.FileListAbsolute.txt
/ConaApi/obj/Debug/net9.0/ConaApi.csproj.Up2Date
/ConaApi/obj/Debug/net9.0/ConaApi.dll
/ConaApi/obj/Debug/net9.0/ConaApi.genruntimeconfig.cache
/ConaApi/obj/Debug/net9.0/ConaApi.MvcApplicationPartsAssemblyInfo.cache
/ConaApi/obj/Debug/net9.0/ConaApi.MvcApplicationPartsAssemblyInfo.cs
/ConaApi/obj/Debug/net9.0/ConaApi.pdb
/ConaApi/obj/Debug/net9.0/ConaApi.sourcelink.json
/ConaApi/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/ConaApi/obj/Debug/net9.0/staticwebassets.build.json
/ConaApi/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/ConaApi/obj/Debug/net9.0/staticwebassets.removed.txt
